header {
    nav {
        height: 68px;
        background-color: $primary-color;
        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 21%;
            height: 100%;
            @include lrg {
                margin: 0 10%;
                
            }
        }
        a {
            color: $black;
            padding: 1%;
        }
    }
}