header {
    nav {
        height: 68px;
        background-color: $primary-color;
        @include sm {
            height: unset;
        }
        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 21%;
            height: 100%;
            @media (max-width:1100px) {
                margin: 0 10%;
            }
            @include med {
                margin: 0 5%;
            }
            @include sm {
                flex-direction: column;
                :nth-child(3) {
                    order: -1;
                }
            }
        }
        a {
            color: $black;
            padding: 1%;
        }
    }
}