.sidebar {
    background-color: $white;
    main {
        padding: 6.25% 0;
        .wrapper {
            display: flex;
            justify-content: space-between;
        }
        aside {
            flex-basis: 30.5%;
            min-width: 30%;
            
        }
        section {
            flex-basis: 66.5%;
        }
        aside,
        section {
            display: flex;
            flex-direction: column;
        }
    }
    aside {
        article {
            margin-bottom: 6.5%;
            padding: 11.5% 10.25% 10.5%;
        }
    }
    article {
        background-color: white;
    }
    
}

