@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
}

img {
  max-width: 100%;
  font-size: 0;
  line-height: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

body,
button,
button a,
::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-transition: color .33s ease-in-out;
  transition: color .33s ease-in-out;
  font-size: 20px;
  font-size: 1.05rem;
  line-height: 32px;
  line-height: 1.68rem;
  color: #2c2c2c;
}

body,
button,
button a,
:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-transition: color .33s ease-in-out;
  transition: color .33s ease-in-out;
  font-size: 20px;
  font-size: 1.05rem;
  line-height: 32px;
  line-height: 1.68rem;
  color: #2c2c2c;
}

body,
button,
button a,
::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-transition: color .33s ease-in-out;
  transition: color .33s ease-in-out;
  font-size: 20px;
  font-size: 1.05rem;
  line-height: 32px;
  line-height: 1.68rem;
  color: #2c2c2c;
}

body,
button,
button a,
::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-transition: color .33s ease-in-out;
  transition: color .33s ease-in-out;
  font-size: 20px;
  font-size: 1.05rem;
  line-height: 32px;
  line-height: 1.68rem;
  color: #2c2c2c;
}

@media (max-width: 350px) {
  body,
  button,
  button a,
  ::-webkit-input-placeholder {
    font-size: 1.1rem;
  }
  body,
  button,
  button a,
  :-ms-input-placeholder {
    font-size: 1.1rem;
  }
  body,
  button,
  button a,
  ::-ms-input-placeholder {
    font-size: 1.1rem;
  }
  body,
  button,
  button a,
  ::placeholder {
    font-size: 1.1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
button,
button a {
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
  font-size: 4.2rem;
  line-height: 92px;
  line-height: 4.83rem;
  font-family: "Lora", serif;
}

header.home h1 {
  font-size: 8.3rem;
}

@media (max-width: 1100px) {
  header.home h1 {
    font-size: 6.6rem;
  }
}

@media (max-width: 768px) {
  header.home h1 {
    font-size: 6.0rem;
  }
}

@media (max-width: 480px) {
  header.home h1 {
    font-size: 4.8rem;
  }
}

@media (max-width: 350px) {
  header.home h1 {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 42px;
  font-size: 2.205rem;
  letter-spacing: 1px;
  letter-spacing: 0.0525rem;
}

@media (max-width: 350px) {
  h2 {
    line-height: 2.2rem;
  }
}

h3 {
  font-size: 32px;
  font-size: 1.68rem;
  letter-spacing: 1px;
  letter-spacing: 0.0525rem;
}

header h3 {
  font-size: 43px;
  font-size: 2.2575rem;
  font-family: "Lora", serif;
  text-align: right;
}

h4 {
  font-size: 24px;
  font-size: 1.26rem;
  letter-spacing: 1px;
  letter-spacing: 0.0525rem;
}

@media (max-width: 480px) {
  h4 {
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 20px;
  font-size: 1.05rem;
  line-height: 29px;
  line-height: 1.5225rem;
  letter-spacing: 1px;
  letter-spacing: 0.0525rem;
  text-align: right;
}

@media (max-width: 480px) {
  h5 {
    font-size: 1.2rem;
  }
}

button a,
button {
  line-height: 32px;
  line-height: 1.68rem;
  letter-spacing: 1px;
  letter-spacing: 0.0525rem;
  color: #2c2c2c;
}

p,
::-webkit-input-placeholder {
  font-weight: normal;
  opacity: 0.8;
}

p,
:-ms-input-placeholder {
  font-weight: normal;
  opacity: 0.8;
}

p,
::-ms-input-placeholder {
  font-weight: normal;
  opacity: 0.8;
}

p,
::placeholder {
  font-weight: normal;
  opacity: 0.8;
}

p.date,
::-webkit-input-placeholder {
  font-style: italic;
}

p.date,
:-ms-input-placeholder {
  font-style: italic;
}

p.date,
::-ms-input-placeholder {
  font-style: italic;
}

p.date,
::placeholder {
  font-style: italic;
}

.sidebar main a,
.comments p.date {
  color: #285e64;
  font-weight: bold;
}

.sidebar .recent-posts a {
  color: #2c2c2c;
  font-weight: normal;
}

header nav a {
  -webkit-transition: color .33s ease-in-out;
  transition: color .33s ease-in-out;
  font-size: 1.5rem;
}

header nav a :hover, header nav a:hover {
  color: white;
}

.sidebar p a {
  -webkit-transition: color .33s ease-in-out;
  transition: color .33s ease-in-out;
}

.sidebar p a:hover {
  color: #25CBDE;
}

.social-links li a {
  color: #f6a823;
  font-size: 32px;
  font-size: 1.68rem;
  font-weight: normal;
  -webkit-transition: color .33s ease-in-out;
  transition: color .33s ease-in-out;
}

.social-links li a :hover,
.social-links li a :focus-within {
  color: #a82706;
}

.email-address h4 {
  text-transform: none;
}

@media (max-width: 480px) {
  aside h4 {
    text-align: center;
  }
}

header nav {
  height: 68px;
  background-color: #f6a823;
}

@media (max-width: 480px) {
  header nav {
    height: unset;
  }
}

header nav .main-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .main-menu > li {
  padding: 2%;
  height: 100%;
  width: 100%;
}

@media (max-width: 480px) {
  header nav .main-menu > li {
    text-align: center;
  }
  header nav .main-menu > li:hover, header nav .main-menu > li:focus-within {
    padding-bottom: 0;
  }
  header nav .main-menu > li:hover ul.nav,
  header nav .main-menu > li:focus-within ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

header nav .main-menu > li > a {
  display: none;
}

@media (max-width: 480px) {
  header nav .main-menu > li > a {
    display: block;
  }
}

header nav ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 21%;
  height: 100%;
}

@media (max-width: 1100px) {
  header nav ul.nav {
    margin: 0 10%;
  }
}

@media (max-width: 768px) {
  header nav ul.nav {
    margin: 0 5%;
  }
}

@media (max-width: 480px) {
  header nav ul.nav {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    height: 0;
    -webkit-transition: scale 1s ease;
    transition: scale 1s ease;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }
  header nav ul.nav :nth-child(3) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

header nav a {
  color: #2c2c2c;
  padding: 1%;
}

header {
  background-color: #f6a823;
  height: 404px;
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-position-y: 68px;
  background-position-x: 70%;
  background-origin: bottom;
  background-size: cover;
  position: relative;
}

@media (max-width: 480px) {
  header {
    height: unset;
    background-image: unset;
    background-color: #25CBDE;
  }
}

header .wrapper {
  height: inherit;
}

header .header-container h1 {
  position: absolute;
  bottom: -8.75%;
}

@media (max-width: 480px) {
  header .header-container h1 {
    position: relative;
    text-align: center;
  }
}

header.contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-position-x: 55%;
}

@media (max-width: 480px) {
  header.contact {
    background-image: unset;
  }
}

footer {
  background-color: #303030;
  color: #f0efef;
  padding: .4%;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  background-color: #f0efef;
}

.sidebar main {
  padding: 6.25% 0;
}

.sidebar main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .sidebar main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.sidebar main aside,
.sidebar main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar main aside {
  -ms-flex-preferred-size: 30.5%;
      flex-basis: 30.5%;
  min-width: 30%;
}

@media (max-width: 768px) {
  .sidebar main aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2.5%;
  }
}

@media (max-width: 480px) {
  .sidebar main aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar main section {
  -ms-flex-preferred-size: 66.5%;
      flex-basis: 66.5%;
}

.sidebar aside article {
  margin-bottom: 6.5%;
  padding: 11.5% 10.25% 10.5%;
}

@media (max-width: 768px) {
  .sidebar aside article {
    padding: 5%;
  }
}

.sidebar article {
  background-color: white;
}

@media (max-width: 768px) {
  .sidebar article.about {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

@media (max-width: 480px) {
  .sidebar article.about {
    margin-bottom: 3%;
  }
}

@media (max-width: 768px) {
  .sidebar article.recent-posts {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding: 10% 5% 7.5%;
  }
}

@media (max-width: 480px) {
  .sidebar article.recent-posts {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

form {
  margin-top: 1.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  form input:first-of-type {
    margin-bottom: 2.5%;
  }
}

form input {
  -ms-flex-preferred-size: 49.25%;
      flex-basis: 49.25%;
  min-width: 49.25%;
  border: none;
  padding: 3% 0 4% 4.75%;
}

@media (max-width: 480px) {
  form input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-width: 100%;
  }
}

form .comment {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: 100%;
  margin: 2.5% 0;
  padding: 4.75% 0 27% 4.75%;
}

@media (max-width: 480px) {
  form .comment {
    padding-bottom: 60%;
    margin-bottom: 3%;
  }
}

form button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contact form {
  margin-top: 0;
}

button {
  padding: 8px 22px;
  border: none;
  background-color: #25CBDE;
}

button :hover,
button :focus-within {
  color: white;
}

.article-links button {
  padding: 7.5px 17px;
}

header.home {
  background-image: unset;
  position: static;
  height: unset;
}

header.home .wrapper:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 940px) {
  header.home .wrapper:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    height: unset;
  }
}

@media (max-width: 768px) {
  header.home .wrapper:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

header.home .header-img-container {
  background-color: white;
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 16px;
  left: 3%;
  min-width: 30%;
  -webkit-box-shadow: 16.5px 16.5px white;
          box-shadow: 16.5px 16.5px white;
}

@media (max-width: 940px) {
  header.home .header-img-container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    left: 7.5%;
    -webkit-box-shadow: 12px 12px white;
            box-shadow: 12px 12px white;
  }
}

@media (max-width: 768px) {
  header.home .header-img-container {
    position: static;
    margin: 3% 30% 0;
  }
}

@media (max-width: 480px) {
  header.home .header-img-container {
    margin-top: 10%;
  }
}

header.home .header-container {
  position: relative;
  bottom: 34px;
  right: 2%;
}

@media (max-width: 940px) {
  header.home .header-container {
    bottom: unset;
    right: unset;
  }
}

@media (max-width: 768px) {
  header.home .header-container {
    margin: 15% 0 10%;
  }
}

header.home .header-container img {
  position: absolute;
  bottom: 52%;
  left: -10%;
  max-width: 150px;
}

@media (max-width: 1100px) {
  header.home .header-container img {
    bottom: 50%;
    left: -12%;
  }
}

@media (max-width: 768px) {
  header.home .header-container img {
    bottom: 43%;
    left: -10%;
  }
}

@media (max-width: 575px) {
  header.home .header-container img {
    bottom: 44%;
  }
}

@media (max-width: 480px) {
  header.home .header-container img {
    max-width: 33%;
    left: -8%;
    bottom: 48%;
  }
}

@media (max-width: 350px) {
  header.home .header-container img {
    bottom: 50%;
  }
}

header.home .header-container h1 {
  position: static;
}

.who-is {
  background-color: #f0efef;
}

.who-is .wrapper {
  padding: 7.75% 10% 9.5% 0;
}

@media (max-width: 940px) {
  .who-is .wrapper {
    text-align: center;
    padding: 7.75% 5% 9.5%;
  }
}

@media (max-width: 480px) {
  .who-is .wrapper {
    padding: 10% 5% 15%;
  }
}

@media (max-width: 350px) {
  .who-is .wrapper {
    padding-bottom: 17.5%;
  }
}

.who-is p {
  padding: 2.75% 0 2.9%;
}

@media (max-width: 480px) {
  .who-is p {
    padding: 4% 0 6.5%;
  }
}

@media (max-width: 350px) {
  .who-is p {
    padding-bottom: 12%;
  }
}

.article-links {
  background-color: white;
}

.article-links article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .article-links article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article-links .article-text-container {
  -ms-flex-preferred-size: 40.5%;
      flex-basis: 40.5%;
  height: 100%;
}

@media (max-width: 940px) {
  .article-links .article-text-container {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
  }
}

.article-links .article-img-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.article-links .article1 .article-text-container {
  margin-top: 8%;
}

@media (max-width: 940px) {
  .article-links .article1 .article-text-container {
    margin-top: 5%;
  }
}

.article-links .article2 {
  text-align: right;
}

.article-links .article2 .article-text-container {
  margin-top: 3.25%;
  margin-bottom: 5%;
}

@media (max-width: 940px) {
  .article-links .article2 .article-text-container {
    margin-top: 4%;
  }
}

@media (max-width: 768px) {
  .article-links .article2 .article-text-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 15%;
  }
}

@media (max-width: 350px) {
  .article-links .article2 .article-text-container {
    margin-top: 25%;
    margin-bottom: 15%;
  }
}

.article-links img {
  z-index: 3;
  position: relative;
}

.article-links .img1 {
  bottom: 45px;
  right: 0.97%;
}

@media (max-width: 940px) {
  .article-links .img1 {
    bottom: 30px;
  }
}

.article-links .img1::after {
  content: "";
  position: absolute;
  background-color: #a82706;
  left: -30%;
  right: -3.5%;
  top: 5%;
  bottom: -3%;
  z-index: 2;
}

@media (max-width: 940px) {
  .article-links .img1::after {
    bottom: 10%;
  }
}

@media (max-width: 768px) {
  .article-links .img1::after {
    bottom: -3%;
    right: 3%;
  }
}

.article-links .img2 {
  top: 45px;
  right: 0.97%;
}

.article-links .img2::after {
  content: "";
  position: absolute;
  background-color: #f6a823;
  right: -27%;
  left: 3.5%;
  top: 5%;
  bottom: -3%;
  z-index: 2;
}

@media (max-width: 940px) {
  .article-links .img2::after {
    bottom: 11%;
    right: -13%;
  }
}

@media (max-width: 768px) {
  .article-links .img2::after {
    bottom: -3%;
    right: -6.5%;
  }
}

.article-links p {
  padding: 4.5% 0 6.5%;
}

.info {
  background-color: #f0efef;
  padding: 7.5% 0 5%;
}

@media (max-width: 350px) {
  .info {
    padding-bottom: 10%;
  }
}

.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .info .wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 10%;
  }
}

.info .info-container {
  position: relative;
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  padding: 2.25% 0;
}

@media (max-width: 768px) {
  .info .info-container {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (max-width: 350px) {
  .info .info-container {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    padding: 5% 0;
  }
}

.info .icon-container {
  background-color: #f6a823;
  position: absolute;
  height: 43px;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: hidden;
  border-radius: 50%;
  left: -15%;
  top: 30px;
}

@media (max-width: 940px) {
  .info .icon-container {
    top: 22px;
    left: -18%;
  }
}

@media (max-width: 768px) {
  .info .icon-container {
    top: 14%;
    left: -13%;
  }
}

@media (max-width: 480px) {
  .info .icon-container {
    top: 7.5%;
    left: -15%;
  }
}

@media (max-width: 350px) {
  .info .icon-container {
    left: -22%;
  }
}

.info h3 {
  padding: 3% 0 4.5%;
}

@media (max-width: 768px) {
  .info h3 {
    padding: 3% 0 2%;
  }
}

.full-bleed {
  line-height: 0;
}

@media (max-width: 480px) {
  .full-bleed {
    display: none;
  }
}

.journey {
  background-color: #f0efef;
  padding: 7% 0 6.25%;
}

@media (max-width: 480px) {
  .journey {
    padding: 4% 0 10%;
  }
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.journey .img-container {
  min-width: 23.75%;
  -ms-flex-preferred-size: 23.75%;
      flex-basis: 23.75%;
  position: relative;
  bottom: 12px;
  -webkit-box-shadow: 15px 15px #f6a823;
          box-shadow: 15px 15px #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 940px) {
  .journey .img-container {
    min-width: 28%;
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
    -webkit-box-shadow: 12px 12px #f6a823;
            box-shadow: 12px 12px #f6a823;
  }
}

@media (max-width: 768px) {
  .journey .img-container {
    margin-bottom: 5%;
  }
}

@media (max-width: 480px) {
  .journey .img-container {
    margin-bottom: 10%;
  }
}

@media (max-width: 350px) {
  .journey .img-container {
    margin: 0 15% 10%;
  }
}

.journey article {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}

@media (max-width: 768px) {
  .journey article {
    text-align: center;
    max-width: 85%;
  }
}

.journey p {
  padding: 4% 0 4.5%;
}

@media (max-width: 480px) {
  .journey p {
    padding-bottom: 10%;
  }
}

.gallery {
  padding: 6.25% 0 5.75%;
  background-color: white;
}

@media (max-width: 350px) {
  .gallery {
    display: none;
  }
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .gallery .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.gallery .wrapper .gallery-container {
  -ms-flex-preferred-size: 31.25%;
      flex-basis: 31.25%;
}

@media (max-width: 768px) {
  .gallery .wrapper .gallery-container {
    padding: 2.5% 0;
  }
}

article.about .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.about h4 {
  padding: 8.5% 0 4%;
}

article.recent-posts {
  padding-top: 10%;
}

article.recent-posts h4 {
  padding-bottom: 4.5%;
}

article.recent-posts ul {
  padding: 0 2% 0 12%;
}

article.recent-posts li {
  position: relative;
}

article.recent-posts li::before {
  content: "·";
  position: absolute;
  left: -9.5%;
  color: #f6a823;
  font-weight: bold;
  font-size: 28px;
  font-size: 1.47rem;
}

.blog article {
  padding: 5%;
  padding-bottom: 2.6%;
  margin-bottom: 4%;
}

.blog p.date {
  padding: 3% 0 2%;
}

.blog p.blog {
  padding-bottom: 2%;
}

.blog article.blog-post,
.blog .comments article:last-of-type {
  border-bottom: 5px solid #f6a823;
}

.blog .comments article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5%;
  padding-bottom: 4.5%;
}

.blog .img-container {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
}

.blog .text-container {
  -ms-flex-preferred-size: 86%;
      flex-basis: 86%;
}

.blog .comments p.date {
  padding: 0 0 1%;
}

aside .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  aside .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

aside .social-links li {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
}

@media (max-width: 768px) {
  aside .social-links li {
    text-align: center;
    -ms-flex-preferred-size: 12%;
        flex-basis: 12%;
  }
}

@media (max-width: 480px) {
  aside .social-links li {
    -ms-flex-preferred-size: 17.5%;
        flex-basis: 17.5%;
  }
}

.sidebar aside article.contact-info {
  padding: 13% 8% 10%;
}

@media (max-width: 768px) {
  .sidebar aside article.contact-info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 8% 8% 6%;
  }
}

.contact form input {
  padding-left: 3%;
}

.email-address h4 {
  padding: 6.5% 0 4.5%;
}

@media (max-width: 768px) {
  .email-address {
    text-align: center;
  }
}
